body {
  font-family: Arial, sans-serif;
    background-color: #141414;
  color: white;
  text-align: center;
  margin: 0;
}

.image-container {

  width: 100%;
  height: auto; /* Full height */
  overflow: hidden;
  min-height: 100vh;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5); /* Darken background */
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}

.container {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  margin: auto;
}
.logo {
  font-family: 'Bebas Neue', sans-serif;
  color: rgb(205, 13, 13);
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -6px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 20px;
  left: 10%;
  background: none; 
} 
.a {
 
  font-weight: bolder;
  position: relative;
  top: 1px;
}
.b {
 
  position: relative;
  font-weight: bolder;
  top: -2px;
}
.c {
 
  position: relative;
  font-weight: bolder;
  top: -3px;
}
.container {
  width: 100%;
  max-width: 350px;
  margin: 50px auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
}



.group-form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #6c6767;
  border-radius: 5px;
  background-color: #222;
  color: white;
}
.btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: red;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: rgb(134, 3, 3);
}

.btn.secondary {
  background: rgba(137, 132, 132, 0.5); /* 50% transparency */
}

.btn.secondary:hover {
  background:rgba(150, 150, 150, 0.5) ;
}

/* 'Remember me' checkbox */
.check {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-top: 10px;
}

.check label {
  font-size: 0.9rem;
}

/* Signup section */
.signup {
  margin-top: 20px;
  color: #c7c1c1;
}

.signup a {
  color: rgb(243, 235, 235);
  text-decoration: none;
  
}
.signup a:hover{
  color: rgb(243, 235, 235);
  text-decoration: underline;
}
/* Recaptcha text */
.recaptcha {
  font-size: 0.8rem;
  color: #bbb;
}




footer {
  margin-top: 40px;
  padding: 20px;
  background: #222;
 
}

footer p {
  font-size: 18px;
  color: #9e9a9a;
}
.terms{
text-decoration: underline;
text-decoration-color:  #9e9a9a;
text-align: left;
}

.left{
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  
}
.right{
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


